{% extends 'basePrincipal.html.twig' %}
{% block body %}
<div class="jumbotron" style="opacity: 0.9">
  <h2 class="display-3">Estamos</h2>
  <h2 class="display-3">en</h2>
  <h2 class="display-3">Home Principal</h2>
</div>
{% endblock %}
